<h3>Contents</h3>
<ol><li><a href="/index.html">The Digital Engineering Movement</a></li>
<ul>
<li><a href="/index.html#introduction">Introduction</a></li>
</ul>
<li><a href="/about/background.html">Background</a></li>
<ul>
<li><a href="/about/background.html#origins">Origins</a></li>
</ul>
<li><a href="/about/objectives.html">Objectives</a></li>
<li><a href="/about/editors.html">Our Editors</a></li>
<ul>
<li><a href="/about/editors.html#stuart_herbert">Stuart Herbert</a></li>
</ul>
<li><a href="/about/get-involved.html">How To Get Involved</a></li>
<ul>
<li><a href="/about/get-involved.html#this_is_your_resource">This Is Your Resource!</a></li>
<li><a href="/about/get-involved.html#hosted_on_github">Hosted On GitHub</a></li>
</ul>
<li><a href="/about/copyright.html">Copyright And Licence</a></li>

</ol>
